body {
  font-family: "Roboto Condensed", sans-serif;
}

.width__wrapper {
  max-width: 1024px;
  margin: 0 auto;
}

a {
  text-decoration: none;
}

h2 {
  color: $text-inverce;
  font-size: 40px;
  font-weight: 700;
  line-height: 40px;
  text-transform: uppercase;
}
