@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,400;0,700;1,400&family=Titan+One&display=swap");

body {
  font-family: "Roboto Condensed", sans-serif;
}

.width__wrapper {
  max-width: 1004px;
  margin: 0 auto;
}

a {
  text-decoration: none;
}

h2 {
  color: $text-inverce;
  font-size: 40px;
  font-weight: 700;
  line-height: 40px;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.action-hover:hover {
  transform: scale(1.2) translateX(8%);
}
