// background colors
$bg-linear-gradient: linear-gradient(
  rgba(52, 142, 158, 66%) 0%,
  rgba(46, 100, 110, 1) 100%
);
$bg-main: #ffffff;
$bg-inverce: #000000;
$bg-secondary: #e2e6e6;
$bg-theme: #268da0;

// text colors
$text-main: #ffffff;
$text-inverce: #000000;
$text-theme: #28646f;
$text-secondary-light: #919fa2;

// border colors
$border-main: #ffffff;
