@import "_variables";
@import "_base";

.header {
  color: $text-main;
  background: top / cover no-repeat url("../img/bg-header@2x.jpg");

  &__wrapper {
    padding: 54px 0 200px 0;
    background: $bg-linear-gradient;
  }

  &__navbar {
    margin: 0 0 151px 0;
  }

  .logo {
    img {
      width: 51px;
      height: 51px;
    }

    &__wrapper {
      margin: 0 0 0 8px;
    }

    &__heading {
      margin: 0;
      color: $text-main;
      font-size: 24px;
      font-weight: 700;
      line-height: 24px;
      letter-spacing: 2px;
      text-transform: uppercase;
    }

    &__subheading {
      margin: 0;
      padding: 0 0 0 1px;
      color: $text-main;
      font-size: 18px;
      font-weight: 300;
      line-height: 18px;
      letter-spacing: 2px;
    }
  }

  &__nav {
    flex-basis: 40%;

    .nav__link {
      color: $text-main;
      font-size: 20px;
      font-weight: 400;
      text-transform: uppercase;
    }
  }

  &__heading {
    margin: 0;
    font-size: 103px;
    font-weight: 700;
    line-height: 103px;
    text-align: center;
    text-transform: uppercase;
  }

  &__subheading {
    margin: 0;
    font-size: 48px;
    font-weight: 400;
    text-align: center;
  }

  &__about {
    position: relative;
  }

  &__about__text {
    position: absolute;
    width: 623px;
    height: 243px;
  }
}

.services {
  padding: 241px 0 90px 0;
  background: $bg-main;

  .services__heading {
    width: 221px;
  }
}

.projects {
  background: #e2e6e6;
}

.life {
  background: #ffffff;
}

.footer {
  background: #000000;
}
