@import "_variables";
@import "_base";

.header {
  position: relative;
  background: right center / 120% no-repeat url("../img/bg-header@2x.jpg");
  overflow: hidden;

  &__icon {
    position: absolute;
    right: 0;
    width: 70px;
    height: 50px;
    border: 2px solid $border-main;
    border-radius: 10px;
    transform: translateX(19px);
    transition: all 1s;

    &:hover {
      cursor: pointer;
    }
  }

  &__icon__facebook {
    top: 265px;
    background: left 15px center url("../img/icon-facebook.svg") no-repeat;

    &:hover {
      background-color: #4267b2;
    }
  }

  &__icon__instagram {
    top: 320px;
    background: left 15px center url("../img/icon-instagram.svg") no-repeat;

    &:hover {
      background: left 15px center url("../img/icon-instagram.svg") no-repeat,
        radial-gradient(
          circle at 30% 107%,
          #fdf497 0%,
          #fdf497 5%,
          #fd5949 45%,
          #d6249f 60%,
          #285aeb 90%
        );
    }
  }

  &__wrapper {
    padding: 54px 0 200px 0;
    background: $bg-linear-gradient;
  }

  &__navbar {
    margin: 0 0 151px 0;
  }

  .logo {
    img {
      width: 51px;
      height: 51px;
    }

    &__wrapper {
      margin: 0 0 0 8px;
    }

    &__heading {
      margin: 0;
      color: $text-main;
      font-size: 24px;
      font-weight: 700;
      line-height: 24px;
      letter-spacing: 2px;
      text-transform: uppercase;
      letter-spacing: 5px;
    }

    &__subheading {
      margin: 0;
      padding: 0 0 0 1px;
      color: $text-main;
      font-size: 18px;
      font-weight: 300;
      line-height: 18px;
      letter-spacing: 2px;
    }
  }

  &__nav {
    flex-basis: 40%;

    .nav__item {
      transition: all 1s;
    }

    .nav__item:hover {
      transform: scale(1.2);
    }

    .nav__link {
      padding: 0;
      color: $text-main;
      font-size: 20px;
      font-weight: 700;
      text-align: right;
      text-transform: uppercase;
      letter-spacing: 3px;
    }
  }

  &__heading {
    margin: 0;
    color: $text-main;
    font-size: 103px;
    font-weight: 700;
    line-height: 103px;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 13px;
  }

  &__subheading {
    margin: 0;
    color: $text-main;
    font-size: 48px;
    font-weight: 400;
    text-align: center;
    letter-spacing: 6px;
  }
}

.main {
  position: relative;

  &__info {
    position: absolute;
    top: -154px;
    left: 50%;
    width: 623px;
    padding: 60px 49px 52px 49px;
    color: $text-main;
    background: $bg-theme;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    text-align: center;
    transform: translateX(-50%);

    &:after {
      position: absolute;
      top: 100%;
      left: 50%;
      width: 0;
      height: 0;
      border: 30px solid;
      border-color: $bg-theme transparent transparent transparent;
      transform: translateX(-50%);
      content: "";
    }
  }
}

.services {
  background: $bg-main;

  .width__wrapper {
    padding: 240px 12px 90px 12px;
  }

  &__heading {
    width: 221px;
    margin: 36px 160px 0 0;
  }

  &__list__wrapper {
    display: flex;
    flex-wrap: wrap;
  }

  &__list {
    padding: 0;
    margin: 0;
  }

  &__list__left {
    margin: 0 70px 0 0;
  }

  &__list__item {
    position: relative;
    display: block;
    margin: 0 0 17px 0;
    padding: 0 0 0 43px;
    font-size: 20px;
    font-weight: 700;
    line-height: 28px;
    list-style-type: none;

    &:before {
      position: absolute;
      display: block;
      left: 0;
      width: 28px;
      height: 28px;
      background: center url(../img/icon-check.svg) no-repeat;
      content: "";
    }
  }
}

.projects {
  background: $bg-secondary;

  .width__wrapper {
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 90px 12px 104px 12px;
  }

  &__heading {
    flex-basis: 100%;
    margin: 0 0 27px 0;
  }

  .project__item__1 {
    background: center / cover no-repeat url("../img/bg-projects-1@2x.jpg");
  }

  .project__item__2 {
    background: center / cover no-repeat url("../img/bg-projects-2@2x.jpg");
  }

  .project__item {
    width: 463px;
    height: 265px;

    &__wrapper {
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      width: 100%;
      height: 100%;
      padding: 0 0 36px 53px;
      mix-blend-mode: multiply;
      background: $bg-linear-gradient;
      cursor: pointer;

      &:hover .project__item__button {
        transform: scale(1.5) translateX(15%);
      }
    }

    &__heading {
      max-width: 330px;
      margin: 0 0 43px 0;
      color: $text-main;
      font-size: 30px;
      font-weight: 700;
      letter-spacing: 1px;
      text-transform: uppercase;
    }

    &__button {
      width: 32px;
      height: 16px;
      border: none;
      background: url("../img/icon-arrow.svg");
      transition: all 3s;
    }
  }
}

.about {
  background: $bg-main;

  .width__wrapper {
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 120px 12px 130px 12px;
  }

  &__heading {
    flex-basis: 100%;
    margin: 0 0 30px 0;
  }

  &__photo {
    width: 202px;
    height: 202px;
    margin: 0 0 20px 0;
    border-radius: 50%;
    overflow: hidden;
  }

  .info__item {
    margin: 0 0 10px 0;
    padding: 31px 10px 26px 27px;
    background: $bg-secondary;

    &__heading {
      color: $text-theme;
      font-size: 24px;
      font-weight: 700;
      letter-spacing: 2px;
      text-transform: uppercase;
    }

    &__description {
      max-width: 711px;
      margin: 0;
      font-size: 17px;
      font-weight: 400;
    }
  }
}

.footer {
  background: $bg-inverce;

  .width__wrapper {
    padding: 113px 12px 71px 12px;
  }

  .contacts {
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 0 60px 0;

    &__heading {
      flex-basis: 100%;
      margin: 0 0 50px 0;
      color: $text-main;
    }

    &__adress {
      flex-direction: column;
      margin: 0 0 34px 0;
      color: $text-main;
      font-size: 16px;
      font-weight: 400;

      &__item {
        margin: 0 0 4px 0;
      }
    }

    &__link {
      position: relative;
      display: block;
      margin: 0;
      padding: 0 0 0 30px;
      color: $text-main;
      font-size: 16px;
      font-weight: 400;
      text-decoration: underline;

      &:before {
        position: absolute;
        display: block;
        left: 0;
        width: 20px;
        height: 20px;
        content: "";
      }
    }

    &__phone:before {
      background: bottom url(../img/icon-phone.svg) no-repeat;
    }

    &__email:before {
      background: bottom url(../img/icon-email.svg) no-repeat;
    }

    &__form {
      flex-direction: column;
      align-items: flex-end;

      &__input {
        width: 389px;
        height: 49px;
        margin: 0 0 10px 0;
        padding: 0 18px;
        color: $text-secondary-light;

        &::placeholder {
          color: $text-secondary-light;
          font-size: 16px;
          font-weight: 400;
          font-style: italic;
        }
      }

      &__button {
        position: relative;
        align-self: flex-start;
        width: 230px;
        height: 20px;
        margin: 20px 0 0 0;
        padding: 0;
        border: none;
        color: $bg-main;
        background: $bg-inverce;
        font-size: 18px;
        font-weight: 700;
        line-height: 20px;
        letter-spacing: 1px;
        text-align: left;
        text-transform: uppercase;
        transition: all 1s;

        &:hover {
          transform: scale(1.2) translate(8%, 2%);
        }

        &:before {
          position: absolute;
          display: block;
          right: 0;
          width: 32px;
          height: 20px;
          background: center url(../img/icon-arrow.svg) no-repeat;
          content: "";
        }
      }
    }
  }

  .copyright {
    justify-content: space-between;
    padding: 20px 0 0 0;
    border-top: 1px solid $border-main;

    &__item {
      color: $text-main;
      font-size: 16px;
      font-weight: 400;
    }
  }
}

@import "_media-queries";
